.button-download{
    width: 15%;
    height: 50px;
    background-color: #4aa96c;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    margin:2% 0% 2% 0% ;
    cursor: pointer;
}
.spinners{
    display: flex;
   color:#4aa96c;
   font-size: 30px;
   font-weight: 600;
   margin:40% 60%;
   width: 100%;
}
.spinners p{
    width: 100%;
}